<!-- Inherit from layout.html-->
{% extends "layout.html" %}

<!-- dark background img -->
{% set background_image = 'images/dark_bg.jpg' %}

{% block healthTextHome %}
<div class="box">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>

<div class="health">
    <div class="health-text">
        <h4>AI at Your Service</h4>
        <h1><strong>Generate Handwritten Letters with the Power of AI</strong></h1>
        <!-- Button to access Login page -->
        <a href="/generate" class="start"><span>GET STARTED</span></a>
        <a href="/generate" class="about"><span>LEARN MORE</span></a> 
    </div>
</div>
{% endblock %}