<!-- Inherit from layout.html-->
{% extends "layout.html" %}

{% block title %}Login{% endblock %}

<!-- mp4 video downloaded from canva -->
{% set background_image = 'images/dark_bg.jpg' %}

{% block login %}
<div class="wrapper">
    
    <!-- Login Form-->
    <div class="form-box login">
        <h2>Login</h2>
        <form method="POST" action="{{ url_for('login') }}">
            {{ login_form.hidden_tag() }}
            
            <!-- Username Field -->
            <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                {{ login_form.username(class_='form-control', placeholder='Username', required=False) }}

                <!-- Error/Missing -->
                {% for error in login_form.username.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>

            <!-- Email Field -->
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                {{ login_form.email(class_='form-control', placeholder='Email', required=False) }}

                <!-- Error/Missing -->
                {% for error in login_form.email.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>

            <!-- Password Field -->
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{ login_form.password(class_='form-control', placeholder='Password', required=False) }}

                <!-- Error/Missing -->
                {% for error in login_form.password.errors %}
                    <span class="error-message">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="remember-forgot">
                <label>
                    <input type="checkbox"> Remember Me
                </label>
                <a href="#">Forgot Password?</a>    
            </div>

            <!-- Login Button -->
            <button type="submit" class="btn">Login</button>
        </form>
        <div class="login-register">
            <p>Don't have an account? 
                <a href="{{ url_for('signup') }}" class="register-link">Register here</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}