<!-- Inherit from layout.html -->
{% extends "layout.html" %}
<!-- Dark background img -->
{% set background_image = 'images/dark_bg.jpg' %}

{% block healthTextHome %}

<div class="wrapper-bg">
    <div class="lines"></div>
</div>

<!-- Flash Messages Section -->
<h1>Generate Handwritten Images</h1>
<div class="maincontainer">
    <div class="thecard"> 
        <div class="thefront">
            <!-- Place the buttons inside the wrapper -->
            <div class="wrapper custom-wrapper" id="wrapper_predict">                           
                <div class="clickable-container">
                    <div class="clickable-box-single">CGAN</div>
                    <div class="clickable-box-single">DCGAN</div>
                </div>    
                <div class="row">
                    <!-- Column for the form -->
                    <div class="col-6">
                        <form method="POST" action="{{ url_for('routes.predict') }}" id="generateForm">
                            <div class="form-group">
                                <label for="class_label">Enter Class Label (A-Z):</label>
                                <input type="text" id="class_label" name="class_label" maxlength="1" class="form-control" required>
                            </div>
                            <div class="form-group mb-5">
                                <button type="submit" class="btn-generate">Generate</button>
                            </div>
                        </form>
                        <!-- Random Alphabet Button -->
                        <div class="form-group">
                            <label for="class_label_random">Generate Random Alphabets:</label>
                            <button type="button" id="random-alphabet-btn" class="btn-generate">Click Here!</button>
                        </div>
                    </div>
                    <!-- Column for the generated image and text -->
                    <div class="col-6">
                        <p id="input-message">
                            {% if img_filename %}
                                {% if random_generate_button %}
                                    Randomly Generated Input: '{{ class_label }}'
                                {% else %}
                                    Your Input: '{{ class_label }}'
                                {% endif %}
                            {% endif %}
                        </p>
                        <img id="generated-image" src="
                            {% if img_filename %}
                                {{ url_for('routes.serve_gen_images', filename=img_filename) }}
                            {% else %}
                                {{ url_for('static', filename='images/empty_img_placeholder.png') }}
                            {% endif %}
                        " alt="Generated Image" class="img-fluid" />
                        <!-- Buttons directly under the image -->
                        <div class="d-flex justify-content-center mt-3">
                            <button type="button" id="save-image-btn" class="btn_predict me-2 {% if not img_filename %}hidden{% endif %}" data-bs-toggle="modal" data-bs-target="#saveImageModal">Save Image</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="theback"> 
            <div class="wrapper custom-wrapper" id="wrapper_predict">
                <div class="clickable-container">
                    <div class="clickable-box-multiple">CGAN</div>
                    <div class="clickable-box-multiple">DCGAN</div>
                </div>    
                <div class="row">
                    <!-- Column for the form -->
                    <div class="col-6">
                        <form method="POST" id="generateCombinedForm">
                            <div class="form-group">
                                <label for="class_label_combined">Enter Letters (A-Z and spaces, max 50):</label>
                                <textarea id="class_label_combined" name="class_label_combined" maxlength="50" class="form-control" required></textarea>
                            </div>
                            <div class="form-group mb-5">
                                <button type="submit" class="btn-generate-multiple">Generate Combined</button>
                            </div>                            
                        </form>
                    </div>
                    <div class="col-6">
                        <p id="combined-input-message">
                            {% if combined_img_filename %}
                                <span>Combined Input: {{ class_label_combined }}</span>
                            {% endif %}
                        </p>
                        <img id="combined-generated-image" src="
                        {% if combined_img_filename %}
                            {{ url_for('routes.serve_gen_images', filename=combined_img_filename) }}
                        {% else %}
                            {{ url_for('static', filename='images/empty_img_placeholder.png') }}
                        {% endif %}
                        " alt="Generated Image" class="img-fluid" />
                        <!-- Buttons directly under the image -->
                        <div class="d-flex justify-content-center mt-3">
                            <button type="button" id="save-combined-image-btn" class="btn_predict me-2 {% if not combined_img_filename %}hidden{% endif %}" data-bs-toggle="modal" data-bs-target="#saveImageModal">Save Combined Image</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Save Image Modal -->
<div class="modal fade" id="saveImageModal" tabindex="-1" aria-labelledby="saveImageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal-content">
            <div class="modal-header">
                <h5 class="modal-title custom-modal-title" id="saveImageModalLabel">Confirm Save</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                Are you sure you want to save this image?
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <!-- Cancel Button -->
                <button type="button" class="btn custom-btn-cancel" data-bs-dismiss="modal">Cancel</button>
                <!-- Save Button -->
                <button type="button" id="confirm-save-btn" class="btn custom-btn-save">Save Image</button>
            </div>
            <!-- Add a div for the loading animation (hidden initially) -->
            <!-- Loading overlay (hidden by default) -->
            <div id="loading-overlay" class="loading-screen">
                <div class="loading-content">
                    <p>Saving your image...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const predictRandomUrl = "{{ url_for('routes.predict_random') }}";
    const predictUrl = "{{ url_for('routes.predict') }}";
    const lineAni = document.querySelector('.wrapper-bg')

    for (let i = 0; i < 35; i++){
        const ani = document.createElement('div')
        ani.classList.add('lines');
        ani.style.left = `${Math.random() * 100}%`;
        ani.style.animationDelay = `${Math.random() * 2}s`;
        lineAni.appendChild(ani);
    }
</script>

{% endblock %}