body {
    color: white;
}

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(34, 34, 34, 0.9));
}

.navlist a{
    color: white;
    border-bottom: 2px solid transparent;
}

.navlist a:hover{
    border-bottom: 2px solid white;  /* Change to white when hovering */
}

.navlist .btnLogin-popup{
    color: white;
}

.navlist .btnLogin-popup:hover{
    background: white;
    color: #162938;
}

#menu-icon{
    color: white;
}

.start:hover, .about:hover {
    background: white;
    color: #162938;
}

.start, .about {
    color: white;
}

.btn:hover {
    background: white
}

/* For login */
.wrapper {
    background-color: azure;
    box-shadow: 0 0 30px rgba(87, 79, 79, 0.5);
}

.form-box {
    background-color: #d3d3d3; /* Light Gray background for the form */
    border-radius: 20px;
}

.error-message {
    color: red;
}

/* Remove border effect and transitions for profile link */
.navlist .profile-link {
    border-bottom: none !important;
    transition: none !important;  /* Make sure there's no transition delay */
}

/* Predict Page */
.predict {
    color: black; /* Set all text within .predict to black */
}

.predict form {
    background: rgba(208, 219, 229, 0.9);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5); /* softer white shadow */
}

/* Custom Modal Styles */
.custom-modal-content {
    background-color: #212529; /* Dark background for the modal */
    border: none; /* Remove default border */
    border-radius: 10px; /* Rounded corners */
}

.custom-modal-title {
    color: #ffffff; /* White text for the modal title */
}

.modal-body {
    color: #d4d4d4; /* Light gray text for the modal body */
}

/* Cancel Button (Red by Default) */
.modal-footer .custom-btn-cancel {
    background-color: #dc3545; /* Red background */
    color: #ffffff; /* White text */
}

.custom-btn-cancel:hover {
    background-color: #bb2d3b; /* Darker red on hover */
}

/* Save Button (Green by Default) */
.modal-footer .custom-btn-save {
    background-color: #28a745; /* Green background */
    color: #ffffff; /* White text */
}

.custom-btn-save:hover {
    background-color: #1e7e34 !important; /* Darker green on hover */
}

/* CSS for the "Generating..." state button */
.btn-generate[disabled] {
    background-color: #999 !important;  /* Light gray color when disabled */
    cursor: not-allowed;  /* Change cursor to show it's not clickable */
}


/* ************************************************** */
/* History Page */
/* ************************************************** */
.history {
    background: rgba(208, 219, 229, 0.9);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5); /* softer white shadow */
}

/* Styles for the highlight row */
.highlight-row{
    background-color: rgb(168, 224, 124); /* Green for Create */
}

.table {
    color: white;
}

/* Add a fade-out transition when deleting a row */
.table tbody tr {
    transition: opacity 1s ease-out;
}

.table tbody tr.fade-out {
    opacity: 0;
}


.pagination .page-link {
    background-color: #f8f9fa;
    color: #333;
    border: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination .page-link:hover {
    background-color: #e9ecef;
    color: #333;
}
