* {
    box-sizing: border-box;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 9%;
}

/* Flash Message positioning */
#flash-message {
    position: absolute;
    top: 15%;  /* Adjust this to place the flash message below the header */
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 9999;
    padding: 20px;
    color: white;
    text-align: center;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    opacity: 0;  /* Initial opacity */
    visibility: hidden;   /* Initially hidden */
    transition: opacity 0.5s ease, visibility 0.5s ease;  /* Smooth transition */
}

.background-media {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place behind all other content */
    overflow: hidden;
}

.background-media video,
.background-media img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures content covers the viewport */
}

.logo img{
    width: 60px;
    height: 70px;
    padding-bottom: 10px;
}

.navlist{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navlist li {
    padding: 0px 20px;
}

.navlist a{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: all .45s ease;
}

.navlist .btnLogin-popup{
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: .45s ease;
}

#menu-icon {
    font-size: 35px;
    z-index: 100001;
    cursor: pointer;
    display: none;
}


.health, .predict{
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
}

/* Content text */
.health-text {
    position: relative;
    text-align: center;
    color: #fff;
    margin-top: 5%;
}

.health-text h4{
    padding-bottom: 50px;
}

.health-text h1{
    padding-bottom: 50px;
}

.start, .about{
    padding: 15px;
    margin: 5px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    transition: .45s ease;
}

/* Login / Register Wrappers */
.container {
    display: flex; /* Make the container a flexbox */
    justify-content: center; /* Horizontally center the .wrapper */
    align-items: center; /* Vertically center the .wrapper */
    flex-direction: column; /* Optional: if you want elements stacked */
}


.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: height .2s ease;
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box{
    width: 100%;
    padding: 30px;
}

.wrapper .form-box.register{
    position: absolute;
}

.form-box h2{
    font-size: 2em;
    color: rgb(0, 0, 0);
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 40px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    line-height: 45px;
}

.remember-forgot{
    font-size: .9em;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 0 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: rgb(0, 0, 0);
    margin-right: 3px;
}

.remember-forgot a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #808080;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: .9em;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: white;
}

/* Profile Image */
.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Username next to the profile image */
.profile-info a {
    display: flex; /* Use flexbox to align the profile picture and username horizontally */
    align-items: center; /* Vertically center the image and username */
    text-decoration: none; /* Remove underline from the link */
}

/* Styling for the username */
.username {
    font-size: 16px;
    font-weight: 600;
}

/* Navigation bar alignment */
.navbar .nav-item img {
    display: inline-block;
    vertical-align: middle;
}


/* Profile Icon and Dropdown Menu */
.profile-icon {
    position: relative;
    display: inline-block;
}

/* Dropdown Menu (Hidden by default) */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 35px;
    background-color: #3f3939;
    color: black;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 150px; /* Adjust width as needed */
    z-index: 100;
}

/* Dropdown Menu Item */
.dropdown-item {
    padding: 5px;
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
    text-align: center;
}

/* Remove hover effect */
.profile-icon:hover .dropdown-menu {
    display: none;
}

/* ************************************************** */
/* Predict Page */
/* ************************************************** */
/* Prevent centering of content in the .predict container */
.predict {
    display: flex; /* Flexbox for left-right layout */
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-start; /* Align items to the top */
}

/* Left column where the form is located */
.predict .left-column {
    width: 100%; /* Take up full width for the form */
    padding: 20px;
    max-width: 600px; /* Optional: limit max width */
}

/* Form container */
.predict form {
    width: 100%; /* Ensure form takes up the full width */
    padding: 20px;
    border-radius: 8px;
}

/* Adjust the legend for the title */
form legend {
    display: block; /* Ensures the legend is displayed as a block element */
    font-size: 1.5rem; /* Adjust font size */
    font-weight: bold; /* Make the title bold */
    margin-bottom: 20px; /* Space below the title */
    text-align: left; /* Align the title to the left */
}

/* Positioning the max value to the right */
.max-value {
    float: right;
}

/* Add to the CSS */
.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.fab {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 36px;
    text-align: center;
    padding: 0;
    border: none;
}

/* Predict HMTL */
/* Ensure the wrapper uses Flexbox and centers content */
#wrapper_predict {
    display: flex;
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content */
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    min-height: 500px; /* Ensure a minimum height */
    height: 100%; /* Make sure it takes full height */
}

/* Ensure the row inside the wrapper centers its columns */
#wrapper_predict .row {
    display: flex;
    align-items: center; /* Vertically center columns */
    width: 100%; /* Ensure the row takes full width */
}

/* Ensure the form column takes full height */
#wrapper_predict .col-6 {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center form content */
    height: 100%; /* Take full height */
}

/* Custom CSS for buttons */
.btn_predict, .btn-generate {
    padding: 10px 20px; /* Add padding to make buttons larger */
    font-size: 16px; /* Increase font size */
    background-color: #808080; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.btn_predict:hover, .btn-generate:hover {
    background-color: #5a6268; /* Darker background on hover */
}

/* Ensure the buttons are centered and spaced properly */
.d-flex.justify-content-center {
    gap: 10px; /* Add spacing between buttons */
}

/* Specific style for the Generate button */
.btn-generate {
    width: 100%; /* Full width */
}

.hidden {
    display: none;
}

/* Center the modal vertically */
.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
}

/* Add a smooth fade-in animation */
.custom-modal-content {
    animation: fadeIn 0.5s ease-in-out;
}

/* Increase modal size */
.modal-content {
    padding: 20px; /* Add padding inside the modal */
    max-width: 600px; /* Set a maximum width for the modal */
    margin: auto; /* Center the modal horizontally */
    border-radius: 10px; /* Rounded corners for a modern look */
}

/* Modal Header */
.modal-header {
    padding: 15px; /* Add padding to the header */
    border-bottom: 1px solid #dee2e6; /* Optional: Add a border below the header */
}

/* Modal Body */
.modal-body {
    padding: 20px; /* Add padding to the body */
    font-size: 18px; /* Increase font size for better readability */
}

/* Modal Footer */
.modal-footer {
    display: flex !important;
    flex-direction: row !important;
}

.modal-footer .btn{
    width: 40%;
}

.modal-footer .custom-btn-cancel {
    border: none; /* Remove default border */
    font-size: 16px; /* Increase font size for better visibility */
    border-radius: 5px; /* Rounded corners */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover animation */
}

.custom-btn-cancel:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.modal-footer .custom-btn-save {
    border: none; /* Remove default border */
    font-size: 16px; /* Increase font size for better visibility */
    border-radius: 5px; /* Rounded corners */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover animation */
}

.custom-btn-save:hover {
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.loading-content {
    text-align: center;
}

/* ************************************************** */
/* History Page */
/* ************************************************** */
/* Container for no history message */
/* Center align the container content */
.pagination {
    display: flex;
    justify-content: center; /* Centers pagination */
    align-items: center;
    margin-top: 20px; /* Adds space above the pagination */
    padding: 10px;
}

.pagination .page-item {
    margin: 0 5px; /* Adds spacing between pagination items */
}

.pagination .page-link {
    border-radius: 5px;
    padding: 8px 12px;
}

.no-history-container {
    background-color: #45505b;
    border-radius: 8px;
    padding: 20px;
    margin: 30px auto;
    text-align: center; /* Center-aligns text and inline elements */
    max-width: 600px; /* Restrict the width for better readability */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Title with username */
.intro-text {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Additional message */
.no-history-message {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 20px;
}   

/* Sidebar */
.sidebar {
    position: fixed;
    top: 130px;
    left: -400px; /* Initially hidden */
    width: 440px;
    height: calc(100% - 60px);
    background-color: #453e3e;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Indicate it's clickable */
}

/* Sidebar toggle button */
.sidebar-toggle {
    position: fixed;
    top: 50%;
    left: 10px;
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: left 0.3s ease-in-out, transform 0.3s ease-in-out;
}
